
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    /* Primary */
    --Green200lighter: hsl(148, 38%, 91%);
    --Green600medium: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Grey500medium: hsl(186, 15%, 59%);
    --Grey900darker: hsl(187, 24%, 22%);
    --BodySizeLabels: 16px;
}

*{
    margin: 0;
    font-family: 'Karla';
}
body, .success-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--Green200lighter);
    position: relative;
}

main{
    padding: 1.2em;
    border-radius: 15px;
    background-color: var(--White);
    margin: 1em;
    width: 50em;
    max-width: 90%;
    h1{
        color: var(--Grey900darker);
    }
    button{
        padding: 0.7em;
        border: none;
        background-color: var(--Green600medium);
        color: var(--White);
        width: 100%;
        font-size: 16px;
        border-radius: 10px;
    }
}

fieldset{
    display: grid;
    grid-template-columns: 1fr;
    border: none;
    margin: 10px 0;
    gap: 10px;
    label, legend{
        color: var(--Grey900darker);
        font-size: 16px;
    }
    input,textarea{
        border-radius: 5px;
        padding: 0.5em;
        border: 1px solid var(--Grey500medium);
        font-size: 16px;
    }
    textarea{
        resize:none;
        height: 10em;
    }
    article{
        display: grid;
        gap: 10px;
    }
    legend{
        margin-bottom: 10px;
    }
}

fieldset.data{
    label{
        display: flex;
        flex-direction: column;
    }
}
fieldset.query{
    label{
        border: 1px solid var(--Grey500medium);
        padding: 0.8em;
        border-radius: 8px;
    }
    input{
        margin-right: 10px;
    }
}
fieldset.consent{
    grid-template-columns: 20px 1fr;
}

.errorState{
    color: var(--Red);
}
article.success-message{
    position: fixed;
    border-radius: 10px;
    max-width: 25em;
    padding: 1em;
    top: 1.8em;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--Grey900darker);
    h3.success-title::before{
        content: "";
        width: 22px;
        height: 22px;
        margin-right: 2px;
        background: url('./assets/images/icon-success-check.svg') no-repeat;
    }
    h3.success-title{
        font-size: 17px;
    }
    h3.success-title ,p{
        color: var(--White);
        justify-content: flex-start;
    }
    p{
        margin-top: 5px;
        font-size: 15px;
        font-weight: 400;
    }

}
@media(min-width : 450px){
    fieldset.data, fieldset.query article{
        grid-template-columns: 1fr 1fr;
    }
    fieldset.data .email-input{
        grid-column: span 2 ;
    }
}