
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    /* Primary */
    --Green200lighter: hsl(148, 38%, 91%);
    --Green600medium: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Grey500medium: hsl(186, 15%, 59%);
    --Grey900darker: hsl(187, 24%, 22%);
    --BodySizeLabels: 16px;
}

*{
    margin: 0;
    font-family: 'Karla';
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--Green200lighter);
}

main{
    padding: 1.5em;
    border-radius: 15px;
    background-color: var(--White);
    margin: 0 1em;
    width: 50em;
    max-width: 90%;
    button{
        padding: 0.7em;
        border: none;
        background-color: var(--Green600medium);
        color: var(--White);
        width: 100%;
        font-size: 16px;
        border-radius: 10px;
    }
}

section{
    display: grid;
    grid-template-columns: 1fr;
    margin: 15px 0;
    gap: 12px;
    label{
        color: var(--Grey900darker);
        font-size: 16px;
    }
    input,textarea{
        border-radius: 5px;
        padding: 0.5em;
        border: 1px solid var(--Grey900darker);
        font-size: 16px;
    }
    /* input{
        margin-left: 5px;
    } */
}

section.data{
    label{
        display: flex;
        flex-direction: column;
    }
}
section.consent{
    grid-template-columns: 20px 1fr;
}

/* .errorState{
    color: var(--Red);
} */
@media(min-width : 450px){
    section.data, section.query{
        grid-template-columns: 1fr 1fr;
    }
    section.data .email-input{
        grid-column: span 2 ;
    }
}