
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    /* Primary */
    --Green200lighter: hsl(148, 38%, 91%);
    --Green600medium: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Grey500medium: hsl(186, 15%, 59%);
    --Grey900darker: hsl(187, 24%, 22%);
    --BodySizeLabels: 16px;
}

*{
    margin: 0;
    font-family: 'Karla';
}

body{
    padding: 0;
    width: 100vw;
    height: 100%;
}